<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a first year PhD Track student at
      <a class="underline-link" href="www.ip-paris.fr" target="_blank">IP Paris</a>, Palaiseau, France.
    </p>

    <p>
      I am currently looking for a research internship opportunity from mid-march until september 2021 that will allow me to work alongside a team of talented individuals.
    </p>


    <!-- {% include employment-status.html %} -->
  </div>
</section>
