<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a undergarduate student at
      <a class="underline-link" href="http://https://www.sorbonne-universite.fr/" target="_blank">Sorbonne University</a>, Paris, France.
    </p>

    <p>
      A talented final year student with a strong academic background both in hardware and software perspectives. I am currently looking for
      a internship opportunity that will allow me to work alongside an expert team of talented individuals .
    </p>


    <!-- {% include employment-status.html %} -->
  </div>
</section>
