<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Imad MAROUF</span>, a engineering-oriented student focusing on building multidisciplinary skills in software and hardware &amp; experiences
    <span class="emoji sunglasses"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:imad.marouf@etu.upmc.fr" target="_blank" class="highlight-link">imad.marouf@etu.upmc.fr</a>
    </span>
  </h3>
</header>
