<div class="news-container">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    <div class="news-list {% if include.limit and site.announcements.scrollable and news_size > 3 %}scrollable{% endif %}">
      {% assign news = site.news | reverse %}
      {% if include.limit and site.announcements.limit %}
        {% assign news_limit = site.announcements.limit %}
      {% else %}
        {% assign news_limit = news_size %}
      {% endif %}

      {% for item in news limit: news_limit %}
        <div class="news-item">
          <div class="news-date">
            <span class="date-icon"><i class="far fa-calendar"></i></span>
            <span class="date-text">{{ item.date | date: '%b %d, %Y' }}</span>
          </div>
          <div class="news-content">
            {% if item.inline %}
              <div class="news-inline">
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              </div>
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">
                <i class="fas fa-chevron-right"></i>
                {{ item.title }}
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="no-news">No news so far...</p>
  {% endif %}
</div>
