/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.

// Publications

.publications {
  margin-top: 2rem;

  .year {
    border-top: 1px solid var(--global-divider-color);
    color: $light-gray;
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: center;
  }

  .bibliography {
    margin-bottom: 2rem;

    li {
      margin-bottom: 1rem;
    }

    .row {
      .col-sm-2 {
        img {
          width: 100%;
          max-height: 100px;
          object-fit: cover;
        }
      }

      .col-sm-8 {
        .title {
          font-weight: bolder;
          margin-bottom: 0.5rem;
        }

        .author {
          font-style: italic;
          margin-bottom: 0.5rem;
        }

        .periodical {
          color: var(--global-text-color-light);
        }

        .links {
          margin-top: 0.5rem;

          a {
            margin-right: 0.5rem;
            color: var(--global-text-color-light);
            border: 1px solid var(--global-divider-color);
            padding: 0.1rem 0.5rem;
            border-radius: 3px;
            font-size: 0.8rem;

            &:hover {
              color: var(--global-theme-color);
              border-color: var(--global-theme-color);
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
